/* Font Style */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans'
    
}


/* Navigation Bar style */

.navigation-bar {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    gap: 500px;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;

}

span {
    color: #FF42A5;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-list li,
a {
    list-style: none;
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
}

#face {
    color: #3b5998;
    font-size: 1.3rem;
    margin-left: 8px;

}

#you {
    color: red;
    font-size: 1.3rem;
    margin-left: 10px;

}

/* Banner Style  */

.banner {

    display: flex;
    justify-content: center;
    gap: 330px;
}

.banner-content {
    margin-top: 140px;



}

.banner-tittle {
    color: #0B0223;
    margin-bottom: 0px;

    font-size: 3rem;

    font-weight: 600;


}

.banner-text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 6rem;

    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


.img-1 {
    width: 40%;
    margin-top: 20px;
}

.sign-btn {
    margin-top: 7px;
    color: #FFF;
    border: none;
    padding: 12px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go-btn {
    margin-top: 7px;
    color: #FFF;
    border: none;
    padding: 12px 20px;
    border-radius: 48px;
    background: #4EC5F7;
}

/* Online games section style */

.online-games {
    margin-top: 120px;
    text-align: center;
}

.games {
    display: flex;
    justify-content: center;
    text-align:start;
    
}

.games>figure>figcaption{
    margin-top: 20px;
}

/* Play instant section style */

.play-instant {
    display: flex;
    justify-content: space-evenly;
}

.play-content {
    text-align: center;
    margin-top: 300px;
    margin-left: 160px;
}

.play-tittle {
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;


}

.play-text {

    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;

}

.img-2 {

    margin-top: 100px;
}

.img-3 {
    position: relative;
    bottom: 300px;
    right: 150px;
}

/* Many ganmes section */

.games-menu-1 {


    display: flex;
    justify-content: center;
    
    gap: 30px;
    
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.many-games-1 {
    margin-top: 110px;

    border: none;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #0B0223;
    gap: 10px;
    font-size: 1.2rem;

    font-weight: 600;

    border-radius: 50px;
    background: #FFF;
}

.many-games-1:hover{
    cursor: pointer;
    border: 2px solid #FF42A5;
    color: #FF42A5;
}


.games-menu-2 {


    display: flex;
    
    gap: 40px;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.many-games-2 {
    margin-top: 30px;
    margin-bottom: 110px;
    border: none;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #0B0223;
    gap: 10px;
    font-size: 1.2rem;

    font-weight: 600;

    border-radius: 50px;
    background: #FFF;
}

.many-games-2:hover{
    cursor: pointer;
    border: 2px solid #FF42A5;
    color: #FF42A5;
}


/* footer */

footer {

    background: #0B0223;
}


.footer-logo {
    padding-top: 110px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
}

.details {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    padding-bottom: 50px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#dis,
#insta,
#twi {
    font-size: 2.8rem;
    color: #FFF;
    padding-bottom: 60px;
}

.Terms {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgba(255, 255, 255, 0.60);

}

.Terms {

    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgba(255, 255, 255, 0.60);
    
}

.copy-rights{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
padding-top: 0px;
font-size: 1rem;

font-weight: 500;
padding-bottom: 100px;
}


/* Responsive Style */

@media screen and (max-width:576px) {

    .nav-logo{
        margin-left: 80px;
    }

    .navigation-bar,.nav-list{
        flex-direction: column;
        gap: 20px;
    }
    
    .banner{
        flex-direction: column-reverse;
        gap: 0px;
    }

    .banner-content{
        margin-top: 0px;
    }
    .img-1{
        width: 100%;
        margin-top: 0px;
    }

    .games{
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
        
    }

    .play-instant{
        flex-direction: column;
        margin-top: 0px;
    }
    .play-content{
        margin-top: 40px;
        margin-left: 0px;
        
    }

    .play-tittle, .play-text{
        text-align: center;
    }

    .img-2 {

        width: 100%;
    }

    .img-3 {
        width: 30%;
        position: relative;
        bottom: 100px;
        right: 15px;
    }
    
   

    .games-menu-1,.games-menu-2{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0px;
        gap:0px;

        
    }

    .many-games-1,.many-games-2,.social{
        margin-top: 0px;
        padding: 5px;
        gap: 0px;
        margin-bottom: 0px;
    }
   
    .social {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .Terms{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .details{
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
}

